.label {
    font-size: 30px;
}

.btn {
    background: rgb(26, 101, 240);
    border: blue;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.container {
    padding: 15px;
}

.register {
    margin-top: 15px;
    font-size: 15px;
}

.body {
    padding-top: 200px;
    background: rgb(170, 238, 161);
    height: 800px;
}