<div class="body">
    <div>
        <a routerLinkActive="active-link" routerLink="/login" class="route">Log Out</a>
    </div>
    <div class="container text-center" style="max-width: 300px; margin: auto;">
        <form [formGroup]="userProfileForm" (ngSubmit)="save()">
            <h1>User Profile</h1>
            <div>
                <label for="inputFirstName" class="label">First Name</label>
                <input type="text" formControlName="inputFirstName" class="form-control" placeholder="ex. John">
                <label class="alert alert-danger"
                    *ngIf="!this.userProfileForm.controls.inputFirstName.valid && this.userProfileForm.controls.inputFirstName.touched">First
                    name
                    is
                    required</label>
            </div>
            <div>
                <label for="inputLastName" class="label">Last Name</label>
                <input type="text" formControlName="inputLastName" class="form-control" placeholder="ex. Smith">
                <label class="alert alert-danger"
                    *ngIf="!this.userProfileForm.controls.inputLastName.valid && this.userProfileForm.controls.inputLastName.touched">Last
                    name
                    is
                    required</label>
            </div>
            <div>
                <label for="inputBirthday" class="label">Date of Birth</label>
                <input type="text" formControlName="inputBirthday" class="form-control" placeholder="ex. 03/23/1994">
                <label class="alert alert-danger"
                    *ngIf="!this.userProfileForm.controls.inputBirthday.valid && this.userProfileForm.controls.inputBirthday.touched">DOB
                    is
                    required</label>
            </div>
            <div>
                <label for="inputAddress" class="label">Address</label>
                <input type="text" formControlName="inputAddress" class="form-control"
                    placeholder="ex. 1234 56th Street">
                <label class="alert alert-danger"
                    *ngIf="!this.userProfileForm.controls.inputAddress.valid && this.userProfileForm.controls.inputAddress.touched">Address
                    is
                    required</label>
            </div>
            <div>
                <label for="inputFood" class="label">Favorite Food</label>
                <input type="text" formControlName="inputFood" class="form-control" placeholder="ex. pizza">
            </div>
            <div>
                <label for="inputMovie" class="label">Favorite Movie</label>
                <input type="text" formControlName="inputMovie" class="form-control" placeholder="ex. Step Brothers">
            </div>
            <div>
                <label for="inputMusic" class="label">Favorite Artist</label>
                <input type="text" formControlName="inputMusic" class="form-control" placeholder="ex. Post Malone">
            </div>
            <div>
                <label for="inputHobbies" class="label">Hobbies</label>
                <input type="text" formControlName="inputHobbies" class="form-control"
                    placeholder="ex. coding, working out, ...">
            </div>
            <button type="submit" class="btn" [disabled]="!userProfileForm.valid">Save</button>
        </form>
    </div>
</div>